		.btn-primary {
			background-color: #ee4503;
			color: #fff;
		}

		.btn-primary:hover {
			background-color: #020011;
		}

		.header-section {
			position: absolute;
			top: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 75px;
			background-color: #fff;
			margin: 0 auto;
			z-index: 10;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			width: 100%;
			padding: 0 50px;
		}

		.headerNav,
		.headerNav.is-open {
			display: flex;
		}

		.headerMenu {
			display: flex;
			align-items: center;
			gap: 24px;
			list-style-type: none;
		}

		.headerMenu__Item {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			color: #020011;
			position: relative;
			cursor: pointer;
			font-size: 16px;
			line-height: 120%;
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-decoration-color: transparent;
			transition: all 0.3s ease-in-out;
		}

		._headerMenuItem_o0brh_28:hover {
			text-decoration-color: #ee4503;
		}

		.headerMenuItemActive .headerMenuItemIcon {
			transform: rotate(180deg);
		}

		.headerMenuItemIcon {
			height: 14px;
			width: 14px;
			transition: transform 0.3s ease;
		}

		.header-section .itemTitle {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.headerLogo {
			position: absolute;
			left: 50%;
			transform: translate(-50%);
		}

		.headerLogo::before {
			content: "";
			position: absolute;
			bottom: -21px;
			left: 50%;
			transform: translate(-50%);
			width: 319px;
			height: 16px;
			background: #fff;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			z-index: -1;
		}

		.headerActionsButton {
			min-width: 202px;
			height: 48px;
		}

		.header-section .lobby-button {
			display: none;
			background: none;
			border: none;
			cursor: pointer;
			width: 40px;
			height: 40px;
			padding: 0;
		}

		@media (max-width: 1024px) {
			.header-section {
				border-radius: 0;
				padding: 0 20px;
			}

			.headerNav {
				display: none;
				position: absolute;
				top: 75px;
				left: 0;
				width: 100%;
				background: #fff;
				flex-direction: column;
				align-items: center;
				padding: 20px 0;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
				box-shadow: 0 4px 6px #0000001a;
			}

			.headerNav._open_o0brh_19 {
				display: flex;
			}

			.headerMenu {
				flex-direction: column;
				gap: 16px;
			}

			.header-section .lobby-button {
				display: block;
			}
		}

		@media (max-width: 768px) {
			.header-section {
				height: 55px;
				justify-content: end;
			}

			.headerNav {
				top: 50px;
			}

			.headerMenuItemActive .itemTitle > span {
				text-decoration: underline;
				text-decoration-color: #ee4503;
			}

			.headerLogo > div > svg {
				width: 120px;
				height: 38px;
			}

			.headerLogo::before {
				content: "";
				position: absolute;
				bottom: -13px;
				left: 50%;
				transform: translate(-50%);
				width: 220px;
				height: 16px;
				background: #fff;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: -1;
			}

			.headerActionsButton {
				display: none;
			}
		}

		.cube {
			pointer-events: none;
			display: flex;
			justify-content: center;
		}

		@media (max-width: 1024px) {
			.cube {
				scale: .7;
			}
		}

		@media (max-width: 768px) {
			.cube {
				overflow: visible !important;
			}
		}

		.cube-section {
			position: relative;
			height: 100vh;
			padding-top: 10%;
			display: grid;
			grid-template-columns: 1fr 1.7fr 1fr;
		}

		.cube-section .buttonMobile {
			display: none;
		}

		.cube-section .cube-section-title {
			text-align: center;
		}

		.cube-section .info {
			display: flex;
			align-items: end;
			padding: 0 16px 68px 48px;
		}

		.cube-section .description {
			color: #020011;
			font-family: Whyte Inktrap, serif;
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: 120%;
		}

		.cube-section .center {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.cube-section .center .cube-32 {
			position: absolute;
			left: 0;
			right: 0;
			z-index: -1;
		}

		.cube-section .center .cube-bitcoin {
			position: absolute;
			top: 30%;
			z-index: -2;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			margin: 0 auto;
		}

		.cube-section .center .cube-bitcoin > div {
			display: flex;
			padding: 0 48px;
			width: 100%;
			justify-content: center;
		}

		.cube-section .center .button-svg {
			cursor: pointer;
			position: absolute;
			bottom: -21px;
			left: 0;
			right: 0;
		}

		.cube-section .center .button-svg > div {
			display: flex;
			justify-content: center;
		}

		.cube-section .list {
			display: none;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			column-gap: 24px;
			row-gap: 14px;
			margin-top: auto;
			padding: 0 0 68px 16px;
		}

		.cube-section .list .item-1 .cube-section-title {
			text-align: start;
			color: #282828;
			font-family: Chillax, serif;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			letter-spacing: -0.286px;
		}

		.cube-section .item-1 {
			display: flex;
			flex-direction: column;
			gap: 6px;
		}

		.cube-section .socialMedia {
			gap: 10px;
			position: absolute;
			right: 1%;
			top: 15%;
			z-index: 20;
		}

		@media (max-width: 1280px) {
			.cube-section {
				padding-top: 15%;
			}

			.cube-section .info {
				padding: 0 16px 64px 24px;
			}

			.cube-section .description {
				font-size: 24px;
			}

			.cube-section .center .cube-32 {
				top: 100px;
			}

			.cube-section .center .cube-bitcoin > div {
				padding: 0 24px;
			}

			.cube-section .list {
				padding: 0 12px 64px 16px;
			}

			.cube-section .list .item-1 {
				justify-content: end;
			}

			.cube-section .item-1 {
				display: flex;
				flex-direction: column;
				gap: 6px;
			}
		}

		@media (max-width: 768px) {
			.cube-section {
				padding: 140px 12px 0;
				display: flex;
				flex-direction: column;
			}

			.cube-section .info {
				z-index: 2;
			}

			.cube-section .info .description {
				width: 100%;
				text-align: center;
			}

			.cube-section .buttonMobile {
				display: flex;
				justify-content: center;
				order: 4;
				margin-bottom: 0;
			}

			.cube-section .buttonMobile > div {
				display: flex;
			}

			.cube-section .center {
				order: 1;
			}

			.cube-section .center .cube-32 {
				top: 15%;
			}

			.cube-section .center .cube-section-title {
				text-align: center;
			}

			.cube-section .center .cube-bitcoin {
				position: absolute;
				top: 25%;
				z-index: -2;
				left: 0;
				right: 0;
				display: flex;
				justify-content: center;
				margin: 0 auto;
			}

			.cube-section .center .cube-bitcoin > div {
				display: flex;
				padding: 0 16px;
				width: 100%;
				justify-content: center;
			}

			.cube-section .center .button-svg {
				display: none;
			}

			.cube-section .info {
				padding: 0;
				order: 2;
				margin-top: auto;
				text-align: center;
			}

			.cube-section .info .description {
				font-size: 24px;
			}

			.cube-section .list {
				order: 3;
				margin: 16px 0 0;
				padding: 0 19px;
				column-gap: 8px;
				row-gap: 12px;
			}

			.cube-section .list .item-1 .cube-section-title {
				text-align: center;
				font-size: 13px;
			}

			.cube-section .list .item-1 .description {
				font-size: 26px;
				text-align: center;
				line-height: 2;
				display: inline-block;
				vertical-align: middle;
			}

			.socialMedia {
				display: none;
			}
		}

		@media (max-width: 490px) {
			.cube-section {
				position: relative;
				height: 100%;
			}

			.cube-section .buttonMobile {
				margin-bottom: -26px;
			}
		}

		.socialMedia-link {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			z-index: 20;
		}

		.socialMedia-Link {
			padding: 7px;
			background-color: #020011;
			border-radius: 80px;
			transition: background-color 0.3s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.socialMedia-Link:hover {
			background-color: #ee4503;
		}

		.socialMedia-Link > div > div {
			height: 20px;
			width: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.navigation {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 32px;
			height: 152px;
			border-radius: 80px;
			background: #fff;
			position: fixed;
			z-index: 10;
			left: 1%;
			top: 18%;
			box-shadow: 0 0 10px #0000000d;
		}

		.icon-1 {
			cursor: pointer;
		}

		.icon-1 > div {
			display: flex;
		}

		.icon-1 > div > svg {
			width: 16px;
			height: 16px;
		}

		.icon-1 path {
			transition: fill 0.2s ease-in-out;
		}

		.icon-1:hover path {
			fill: #ee4503;
		}

		.iconDisabled {
			pointer-events: none;
		}

		.iconDisabled path {
			fill: #ccc;
		}

		@media (max-width: 768px) {
			.navigation {
				display: none;
			}
		}

		.main-section {
			position: relative;
			overflow: hidden;
		}

		.main-section::before,
		.main-section::after {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: #c1c1c4;
			z-index: -10;
		}

		.main-section::before {
			left: 27%;
		}

		.main-section::after {
			right: 27%;
		}

		@media (max-width: 1024px) {
			.main-section::before {
				left: 18%;
			}

			.main-section::after {
				right: 18%;
			}
		}

		@media (max-width: 768px) {
			.main-section::before {
				left: 12px;
			}

			.main-section::after {
				right: 12px;
			}
		}

		.container {
			max-width: 1440px;
			width: 100%;
			margin: 0 auto;
		}

		@media (max-width: 1024px) {
			.container {
				padding: 0 24px;
			}
		}

		@media (max-width: 768px) {
			.container {
				padding: 0;
			}
		}